<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">


</head>
<body>
    <main class="w-full h-screen bg-zinc-100 font-['Helvetica']">
        <nav class="flex px-10 justify-between py-5">
            <h3 class="text-2xl tracking-tight">Khaatabook</h3>
            <div class="navlinks flex gap-5">
                <a class="tracking-tight" href="/">Home</a>
                <a class="tracking-tight" href="/create">Create New Hisaab</a>
            </div>
        </nav>
        <div class="px-10 hisaabs">
            <h3 class="capitalize text-2xl font-medium mb-5 mt-10 tracking-tight">All Hisaab Kitaab</h3>
            
            <% if(files.length > 0) {
                %>
                <% files.forEach(function(file){ %>
                    <div class="hisaab w-fit items-center py-3 px-5 mb-3 gap-20 bg-blue-500 flex justify-between rounded-md">
                    <div class="flex gap-4 text-white items-center">
                        <h3 class="text-2xl"><%= file.split(".")[0] %></h3>
                        <a href="/hisaab/<%= file %>"><i class="ri-arrow-right-circle-fill w-6 h-6 text-white flex items-center justify-center"></i></a>
                    </div>    
                    <div class="flex gap-3 items-center">
                        <a href="/edit/<%= file %>"><i class="text-white ri-pencil-line"></i></a>
                        <a href="/delete/<%= file %>"><i class="ri-delete-bin-6-line w-6 h-6 text-red-500 flex items-center justify-center"></i></a>
                    </div>
                </div>
                    <%
                }) %>
                

                <% } else { %> 
                     <h3 class="text-zinc-500">currently nothing to show, create hisaabs to see something, </h3>
                    <%
                }
             %>
            
            
        </div>
    </main>
</body>
</html>



<!-- 
<nav class="flex w-full h-20">
    <h1 class="text-lg font-bold p-2">Khaatabook</h1>
</nav>
<div class="px-2 py-6">
    <h4 class="text-md bg-blue-800">All Hisaab Kitaab</h4>
    <div class="bg-sky-500 text-white">
        <h4 class="text-lg p-2">Hello </h4>
    </div>
</div> -->